.user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  
    h2 {
      margin: 0;
    }
  
  }

  .overall-data {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
  
    .card {
      background-color: var(--primary-color);
      border-radius: 8px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: var(--light-color);
      width: 30%;
  
      h3 {
        margin: 0;
      }
  
      p {
        margin: 10px 0 0 0;
      }
    }
  }
  
  
  