.add-container, .edit-container {
    display: flex;    
    flex-direction: column;
    margin-top: 10px;

    form {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-color);
        padding: 2rem;
        background-color: var(--primary-color);
        color: var(--light-color);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        width: 400px;

        h1 {
            text-align: center;
        }

        input {
            margin-bottom: 10px;
        }

        button {
            cursor: pointer;
        }

        .input-field {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .avail-quantity {
            color: var(--light-color);
            font-size: 1.2rem;
        }

        .button-options {
            display: flex;
            margin-top: 10px;
            gap: 10px;
        }
    }
}